<%
  content_for :title, 'Welcome ' + current_user.first_name
%>
<header class="spectrum-CSSComponent-sectionHeading" id="new-reservation">
  <h2 class="spectrum-Heading spectrum-Heading--sizeM">Make a Reservation</h2>
  <hr class="spectrum-Divider spectrum-Divider--large">
</header>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <% if current_user.vehicles.empty? %>
      <p>
        In order to make a reservation, you need a vehicle.
      </p>
      <%= button_to 'Create Vehicle',
                    new_user_vehicle_path(current_user.id),
                    method: :get,
                    class: 'spectrum-Button spectrum-Button--fill spectrum-Button--accent spectrum-Button--sizeL'
      %>
    <% else %>
      <div id="start-reservation" class="spectrum-ButtonGroup">
        <% current_user.vehicles.order(:license_plate_number).each do |vehicle| %>
          <a
            href="<%= new_user_vehicle_reservation_path(vehicle.user.id, vehicle.id) %>"
            class="spectrum-Badge spectrum-Badge--sizeXL spectrum-Badge--positive">
            <svg class="spectrum-Icon spectrum-Icon--sizeXL spectrum-Badge-icon spectrum-Badge-icon" focusable="false" aria-hidden="true">
              <use xlink:href="#spectrum-icon-18-Car"/>
            </svg>
            <div class="spectrum-Badge-label">
              Make reservation for <%= vehicle.full_title %>
            </div>
          </a>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<header class="spectrum-CSSComponent-sectionHeading" id="your-reservations">
  <h2 class="spectrum-Heading spectrum-Heading--sizeM">Your Reservations</h2>
  <hr class="spectrum-Divider spectrum-Divider--large">
</header>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <p>
      Garage Access Code: <strong><%= ENV['GARAGE_ACCESS_CODE'] %></strong>
    </p>
    <table class="spectrum-Table spectrum-Table--sizeM">
      <thead class="spectrum-Table-head">
      <tr>
        <th class="spectrum-Table-headCell">Date</th>
        <th class="spectrum-Table-headCell">Time</th>
        <th class="spectrum-Table-headCell">Parking Spot</th>
        <th class="spectrum-Table-headCell">Vehicle</th>
        <th class="spectrum-Table-headCell">Price CHF</th>
        <th class="spectrum-Table-headCell">Actions</th>
      </tr>
      </thead>
      <tbody class="spectrum-Table-body">
      <% @reservations.each do |reservation| %>
        <tr class="spectrum-Table-row">
          <td class="spectrum-Table-cell"><%= reservation.date %></td>
          <td class="spectrum-Table-cell">
            <%= reservation.slot_name %>
            (<%= reservation.start_time.strftime('%H:%M') %> - <%= reservation.end_time.strftime('%H:%M') %>)
          </td>
          <td class="spectrum-Table-cell"><%= reservation.parking_spot.number %></td>
          <td class="spectrum-Table-cell">
            <%= link_to reservation.vehicle.license_plate_number, user_vehicle_path(reservation.user.id, reservation.vehicle.id) %>
          </td>
          <td class="spectrum-Table-cell"><%= reservation.price %></td>
          <td class="spectrum-Table-cell">
            <div class="spectrum-ButtonGroup">
              <%
                reservation_can_be_cancelled = reservation.can_be_cancelled?(current_user)
              %>
              <%= button_to 'Cancel',
                            user_reservation_cancel_path(reservation.user.id, reservation.id),
                            disabled: !reservation_can_be_cancelled,
                            title: !reservation_can_be_cancelled ? 'You can only cancel reservations that have not started' : 'Cancels this reservation',
                            method: :put,
                            form: { data: { turbo_confirm: 'Are you sure?' } },
                            class: 'spectrum-Button spectrum-Button--fill spectrum-Button--negative spectrum-Button--sizeS'
              %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
