<%
  content_for :title, "Edit User"
%>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeL">
    <h2><%= @user.full_name %></h2>
    <div class="spectrum-CSSExample-example">
      <%= form_for @user, html: { class: 'spectrum-Form' } do |f| %>
        <div class="spectrum-Form-item">
          <%= f.label :password,
                      "New password",
                      class: 'spectrum-FieldLabel spectrum-FieldLabel--sizeL spectrum-Form-itemLabel spectrum-FieldLabel--left'
          %>
          <div class="spectrum-Form-itemField">
            <div class="spectrum-Textfield">
              <%= f.password_field :password,
                                   autofocus: true,
                                   autocomplete: "new-password",
                                   class: 'spectrum-Textfield-input'
              %>
            </div>
          </div>
        </div>

        <div class="spectrum-Form-item">
          <%= f.label :password_confirmation,
                      "Confirm new password",
                      class: 'spectrum-FieldLabel spectrum-FieldLabel--sizeL spectrum-Form-itemLabel spectrum-FieldLabel--left'
          %>
          <div class="spectrum-Form-itemField">
            <div class="spectrum-Textfield">
              <%= f.password_field :password_confirmation,
                                   autocomplete: "new-password",
                                   class: 'spectrum-Textfield-input'
              %>
            </div>
          </div>
        </div>

        <div class="spectrum-Form-item">
          <%= f.label :role,
                      class: 'spectrum-FieldLabel spectrum-FieldLabel--sizeL spectrum-Form-itemLabel spectrum-FieldLabel--left'
          %>
          <div class="spectrum-Form-itemField">
            <div class="spectrum-Picker spectrum-Picker--sizeL">
              <%= f.select :role, [:user, :admin, :led_matrix] %>
            </div>
          </div>
        </div>

        <p>
          <%= f.submit "Update", class: 'spectrum-Button spectrum-Button--fill spectrum-Button--accent spectrum-Button--sizeL' %>
        </p>
      <% end %>
    </div>
  </div>
</section>
