<%
  content_for :title, 'Users'
%>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <p>
      All users of the reservation system.
    </p>

    <table class="spectrum-Table spectrum-Table--sizeM">
      <thead class="spectrum-Table-head">
      <tr>
        <th class="spectrum-Table-headCell">Name</th>
        <th class="spectrum-Table-headCell">Email</th>
        <th class="spectrum-Table-headCell">Role</th>
        <th class="spectrum-Table-headCell">Status</th>
        <th class="spectrum-Table-headCell">Vehicles</th>
        <th class="spectrum-Table-headCell">Reservations</th>
        <th class="spectrum-Table-headCell">Actions</th>
      </tr>
      </thead>
      <tbody class="spectrum-Table-body">
      <% @users.each do |user| %>
        <tr class="spectrum-Table-row">
          <td class="spectrum-Table-cell"><%= link_to user.full_name, user_path(user.id), class: 'spectrum-Link' %></td>
          <td class="spectrum-Table-cell"><%= user.email %></td>
          <td class="spectrum-Table-cell"><%= user.role %></td>
          <td class="spectrum-Table-cell"><%= user.disabled? ? 'disabled' : 'active' %></td>
          <td class="spectrum-Table-cell"><%= user.vehicles.count %></td>
          <td class="spectrum-Table-cell"><%= user.reservations.count %></td>
          <td class="spectrum-Table-cell">
            <div class="spectrum-ButtonGroup">
              <%= link_to 'Edit',
                          edit_user_path(user.id),
                          class: 'spectrum-Button spectrum-Button--fill spectrum-Button--accent spectrum-Button--sizeS'
              %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
