<%
  content_for :title, @user.full_name
%>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <header class="spectrum-CSSComponent-sectionHeading" id="user-details">
      <h2 class="spectrum-Heading spectrum-Heading--sizeM">
        <a class="spectrum-BigSubtleLink" href="#user-details">Details</a>
      </h2>
      <hr class="spectrum-Divider spectrum-Divider--large">
    </header>
    <% if @user.disabled? %>
      <div class="spectrum-Badge spectrum-Badge--sizeM spectrum-Badge--negative">
        <div class="spectrum-Badge-label">Disabled</div>
      </div>
    <% end %>
    <ul>
      <li>Last name: <%= @user.last_name %></li>
      <li>First name: <%= @user.first_name %></li>
      <li>Email: <a href="mailto:<%= @user.email %>"><%= @user.email %></a></li>
      <li>Role: <%= @user.role %></li>
    </ul>
  </div>
</section>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <%= link_to 'Edit',
                edit_user_path(@user.id),
                class: 'spectrum-Button spectrum-Button--fill spectrum-Button--accent spectrum-Button--sizeL'
    %>
  </div>
</section>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <header class="spectrum-CSSComponent-sectionHeading" id="user-vehicles">
      <h2 class="spectrum-Heading spectrum-Heading--sizeM">
        <a class="spectrum-BigSubtleLink" href="#user-vehicles">Vehicles</a>
      </h2>
      <hr class="spectrum-Divider spectrum-Divider--large">
    </header>
    <p>
      <%= link_to 'Add Vehicle',
                  new_user_vehicle_path(@user.id),
                  class: 'spectrum-Button spectrum-Button--fill spectrum-Button--accent spectrum-Button--sizeL'
      %>
    </p>
    <table class="spectrum-Table spectrum-Table--sizeM">
      <thead class="spectrum-Table-head">
      <tr>
        <th class="spectrum-Table-headCell">License Plate</th>
        <th class="spectrum-Table-headCell">Make</th>
        <th class="spectrum-Table-headCell">Model</th>
        <th class="spectrum-Table-headCell">Actions</th>
      </tr>
      </thead>
      <tbody class="spectrum-Table-body">
      <% @user.vehicles.each do |vehicle| %>
        <tr class="spectrum-Table-row">
          <td class="spectrum-Table-cell"><%= link_to vehicle.license_plate_number, vehicle_path(vehicle.id), class: 'spectrum-Link' %></td>
          <td class="spectrum-Table-cell"><%= vehicle.make %></td>
          <td class="spectrum-Table-cell"><%= vehicle.model %></td>
          <td class="spectrum-Table-cell">
            <div class="spectrum-ButtonGroup">
              <%= link_to 'Create Reservation',
                          new_user_vehicle_reservation_path(vehicle.user.id, vehicle.id),
                          class: 'spectrum-Button spectrum-Button--fill spectrum-Button--accent spectrum-Button--sizeS'
              %>
              <%= link_to 'Edit',
                          edit_vehicle_path(vehicle.id),
                          class: 'spectrum-Button spectrum-Button--fill spectrum-Button--accent spectrum-Button--sizeS'
              %>
              <%= button_to 'Delete',
                            vehicle_path(vehicle.id),
                            method: :delete,
                            form: { data: { turbo_confirm: 'Are you sure?' } },
                            class: 'spectrum-Button spectrum-Button--fill spectrum-Button--negative spectrum-Button--sizeS'
              %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <header class="spectrum-CSSComponent-sectionHeading" id="user-reservations">
      <h2 class="spectrum-Heading spectrum-Heading--sizeM">
        <a class="spectrum-BigSubtleLink" href="#user-reservations">Reservations</a>
      </h2>
      <hr class="spectrum-Divider spectrum-Divider--large">
    </header>
    <p>
    <div class="spectrum-Badge spectrum-Badge--sizeM spectrum-Badge--neutral">
      <svg class="spectrum-Icon spectrum-Icon--sizeM spectrum-Badge-icon spectrum-Badge-icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-icon-18-Info"/>
      </svg>
      <div class="spectrum-Badge-label"><%= @user.reservations.count %> Total</div>
    </div>
    <div class="spectrum-Badge spectrum-Badge--sizeM spectrum-Badge--positive">
      <svg class="spectrum-Icon spectrum-Icon--sizeM spectrum-Badge-icon spectrum-Badge-icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-icon-18-Info"/>
      </svg>
      <div class="spectrum-Badge-label"><%= @reservations.count %> Active</div>
    </div>
    <div class="spectrum-Badge spectrum-Badge--sizeM spectrum-Badge--negative">
      <svg class="spectrum-Icon spectrum-Icon--sizeM spectrum-Badge-icon spectrum-Badge-icon" focusable="false" aria-hidden="true">
        <use xlink:href="#spectrum-icon-18-Info"/>
      </svg>
      <div class="spectrum-Badge-label"><%= @user.reservations.cancelled.count %> Cancelled</div>
    </div>
    </p>
    <%= render 'reservations/reservations_table', reservations: @reservations, show_actions: true %>
  </div>
</section>

<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <header class="spectrum-CSSComponent-sectionHeading" id="past-reservations">
      <h2 class="spectrum-Heading spectrum-Heading--sizeM">
        <a class="spectrum-BigSubtleLink" href="#past-reservations">Past Reservations</a>
      </h2>
      <hr class="spectrum-Divider spectrum-Divider--large">
    </header>
    <%= render 'reservations/reservations_table', reservations: @user.reservations.active_in_the_past %>
  </div>
</section>

<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <header class="spectrum-CSSComponent-sectionHeading" id="cancelled-reservations">
      <h2 class="spectrum-Heading spectrum-Heading--sizeM">
        <a class="spectrum-BigSubtleLink" href="#cancelled-reservations">Cancelled Reservations</a>
      </h2>
      <hr class="spectrum-Divider spectrum-Divider--large">
    </header>
    <%= render 'reservations/reservations_table',
               reservations: @user.reservations.cancelled,
               show_price: false
    %>
  </div>
</section>
