<%
  content_for :title, 'Billing'

  months = []

  (0..5).each do |num|
    months << Date.today - num.months
  end
%>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <p>
      List of users and their charge total from the current and previous 5 months.
    </p>
  </div>
  <table class="spectrum-Table spectrum-Table--sizeM">
    <thead class="spectrum-Table-head">
    <tr>
      <th class="spectrum-Table-headCell">User</th>
      <% months.each do |month| %>
        <th class="spectrum-Table-headCell"><%= month.strftime('%b %y') %></th>
      <% end %>
    </tr>
    </thead>
    <tbody class="spectrum-Table-body">
    <% @users.each do |user| %>
      <tr class="spectrum-Table-row">
        <td class="spectrum-Table-cell spectrum-Table-cell--divider"><%= link_to user.full_name, user_path(user.id) %></td>
        <%
          divider_class = ' spectrum-Table-cell--divider'

          months.each do |month|
            sum = user.reservations.active_between(month.beginning_of_month, month.end_of_month).sum(&:price)
        %>
          <td class="spectrum-Table-cell<%= divider_class %>">CHF <%= sum %></td>
        <%
          divider_class = ''
          end
        %>
      </tr>
    <% end %>
    <tr class="spectrum-Table-row">
      <td class="spectrum-Table-cell"><strong>TOTAL</strong></td>
      <%
        months.each do |month|
          sum = Reservation.active_between(month.beginning_of_month, month.end_of_month).sum(&:price)
      %>
        <td class="spectrum-Table-cell"><strong>CHF <%= sum %></strong></td>
      <% end %>
    </tr>
    </tbody>
  </table>
</section>
