<%
  content_for :title, 'Reservations'
%>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <p>
      List of reservations of all users.
    </p>
  </div>
</section>


<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <header class="spectrum-CSSComponent-sectionHeading" id="status-today">
      <h2 class="spectrum-Heading spectrum-Heading--sizeM">
        <a class="spectrum-BigSubtleLink" href="#status-today">Status Today</a>
      </h2>
      <hr class="spectrum-Divider spectrum-Divider--large">
    </header>
    <table class="spectrum-Table spectrum-Table--sizeM">
      <thead class="spectrum-Table-head">
      <tr>
        <% @parking_spots.each do |parking_spot| %>
          <th class="spectrum-Table-headCell"># <%= parking_spot.number %></th>
        <% end %>
      </tr>
      </thead>
      <tbody class="spectrum-Table-body">
      <tr class="spectrum-Table-row">
        <% @parking_spots.each do |parking_spot| %>
          <td class="spectrum-Table-cell spectrum-Table-cell--divider">
            <%
              reservations = parking_spot.reservations.active.where(date: Date.today).order(:start_time)

              if reservations.empty?
                %><span style="color: var(--spectrum-celery-400)"><strong>Available</strong></span><%
              end

              reservations.each do |reservation|
            %>
              <div style="border: 1px solid var(--spectrum-gray-300); padding: 5px; margin-bottom: 5px;">
              <%= link_to reservation.user.full_name, user_path(reservation.user.id) %><br>
              <%= link_to reservation.vehicle.license_plate_number, vehicle_path(reservation.vehicle.id) %><br>
              <%= reservation.slot_name %>
              </div>
            <% end %>
          </td>
        <% end %>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <header class="spectrum-CSSComponent-sectionHeading" id="active-reservations">
      <h2 class="spectrum-Heading spectrum-Heading--sizeM">
        <a class="spectrum-BigSubtleLink" href="#active-reservations">Active Reservations</a>
      </h2>
      <hr class="spectrum-Divider spectrum-Divider--large">
    </header>
    <%= render 'reservations_table',
               reservations: @reservations.active_in_the_future,
               show_actions: true,
               show_user: true
    %>
  </div>
</section>

<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <header class="spectrum-CSSComponent-sectionHeading" id="past-reservations">
      <h2 class="spectrum-Heading spectrum-Heading--sizeM">
        <a class="spectrum-BigSubtleLink" href="#past-reservations">Past Reservations</a>
      </h2>
      <hr class="spectrum-Divider spectrum-Divider--large">
      <%= line_chart @reservations.active_between(Date.today - 3.months, Date.today).unscope(:order).group_by_day(:start_time).count %>
      <hr class="spectrum-Divider spectrum-Divider--large">
    </header>
    <%= render 'reservations_table',
               reservations: @reservations.active_in_the_past,
               show_user: true
    %>
  </div>
</section>

<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <header class="spectrum-CSSComponent-sectionHeading" id="cancelled-reservations">
      <h2 class="spectrum-Heading spectrum-Heading--sizeM">
        <a class="spectrum-BigSubtleLink" href="#cancelled-reservations">Cancelled Reservations</a>
      </h2>
      <hr class="spectrum-Divider spectrum-Divider--large">
    </header>
    <%= render 'reservations_table',
               reservations: @reservations.cancelled,
               show_user: true,
               show_price: false
    %>
  </div>
</section>
