<%
  content_for :title, 'New Reservation'
%>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <p class="help">
      How to make reservations:
    <ul>
      <li>Select duration/time slot for a day (morning, afternoon or full day)</li>
      <li>Tap on an available parking spot</li>
      <li>Repeat if you want to reserve on multiple days</li>
      <li>You can reserve up to once a day and max 3 per week</li>
    </ul>
    </p>
    <div class="spectrum-CSSExample-example">
      <div class="spectrum-Badge spectrum-Badge--sizeXL spectrum-Badge--accent">
        <svg class="spectrum-Icon spectrum-Icon--sizeXL spectrum-Badge-icon spectrum-Badge-icon" focusable="false" aria-hidden="true">
          <use xlink:href="#spectrum-icon-18-User"/>
        </svg>
        <div class="spectrum-Badge-label"><%= @user.full_name %></div>
      </div>
      <div class="spectrum-Badge spectrum-Badge--sizeXL spectrum-Badge--positive">
        <svg class="spectrum-Icon spectrum-Icon--sizeXL spectrum-Badge-icon spectrum-Badge-icon" focusable="false" aria-hidden="true">
          <use xlink:href="#spectrum-icon-18-Car"/>
        </svg>
        <div class="spectrum-Badge-label"><%= @vehicle.full_title %></div>
      </div>
      <p>
        <strong>AM:</strong> Morning Slot, <strong>PM:</strong> Afternoon Slot, <strong>FD:</strong> Full Day Slot
      </p>
      <div id="parking-spot-status" data-user="<%= @user.id %>" data-vehicle="<%= @vehicle.id %>">
        <%
          @parking_spots.each do |week, days|
            num_existing_reservations = Reservation.active_within_a_week_of_user(days.first[0], @user).count
        %>
          <div class="week"
               data-weeknumber="<%= week %>"
               data-used-budget="<%= num_existing_reservations %>"
               data-max-budget="<%= ParkitService::RESERVATION_MAX_RESERVATIONS_PER_WEEK %>"
          >
            <div class="week-header">
              <div class="title">Week <%= week %></div>
              <div class="budget">
                <%= num_existing_reservations %> of <%= ParkitService::RESERVATION_MAX_RESERVATIONS_PER_WEEK %>
                reservation(s) used.
              </div>
            </div>
            <%
              days.each do |date, parking_spots|
                week_day = date.strftime("%a")
            %>
              <div class="day <%= week_day.downcase %>">
                <div class="date" data-date="<%= date %>">
                  <h2><%= week_day %><br><%= date.strftime('%d.%m.') %></h2>
                </div>
                <div class="slot-options">
                  <div class="morning disabled">
                    <h3>AM</h3>
                  </div>
                  <div class="afternoon disabled">
                    <h3>PM</h3>
                  </div>
                  <div class="full-day disabled">
                    <h3>FD</h3>
                  </div>
                </div>
                <div class="parking-spots">
                  <%
                    parking_spots.each do |parking_spot|
                      css_class = 'available'
                      reservation = parking_spot.reservations.first

                      if parking_spot.unavailable?
                        css_class = 'unavailable'
                      elsif parking_spot.reservations.count == 1 && reservation.half_day?
                        css_class += " #{reservation.am? ? 'pm' : 'am'}"
                      elsif parking_spot.reservations.count > 0
                        css_class = 'fully-booked'
                      else
                        css_class += ' full-day'
                      end
                  %>
                    <div class="parking-spot <%= css_class %> disabled" data-id="<%= parking_spot.id %>">
                      <h3><%= parking_spot.number %></h3>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="spectrum-Modal spectrum-Tray spectrum-Tray">
          <section class="spectrum-Dialog spectrum-Dialog--large" role="dialog" tabindex="-1" aria-modal="true">
            <div class="spectrum-Dialog-grid">
              <h1 class="spectrum-Dialog-heading spectrum-Dialog-heading--noHeader">Remaining Budget</h1>
              <hr class="spectrum-Divider spectrum-Divider--sizeM spectrum-Divider--horizontal spectrum-Dialog-divider">
              <section class="spectrum-Dialog-content"></section>
            </div>
          </section>
        </div>
      </div>
      <%= form_tag user_vehicle_reservations_path, method: :post, id: 'reservation-form' do |f| %>
        <button
          id="submit-reservations"
          class="spectrum-Button spectrum-Button--fill spectrum-Button--accent spectrum-Button--sizeL">
          <span class="spectrum-Button-label">Reserve</span>
        </button>
      <% end %>
    </div>
  </div>
</section>
