<%
  content_for :title, 'New Reservation'
%>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <div class="spectrum-CSSExample-example">
      <div class="spectrum-ButtonGroup">
        <div class="spectrum-Badge spectrum-Badge--sizeXL spectrum-Badge--accent">
          <svg class="spectrum-Icon spectrum-Icon--sizeXL spectrum-Badge-icon spectrum-Badge-icon" focusable="false" aria-hidden="true">
            <use xlink:href="#spectrum-icon-18-User"/>
          </svg>
          <div class="spectrum-Badge-label"><%= @user.full_name %></div>
        </div>
        <div class="spectrum-Badge spectrum-Badge--sizeXL spectrum-Badge--positive">
          <svg class="spectrum-Icon spectrum-Icon--sizeXL spectrum-Badge-icon spectrum-Badge-icon" focusable="false" aria-hidden="true">
            <use xlink:href="#spectrum-icon-18-Car"/>
          </svg>
          <div class="spectrum-Badge-label"><%= @vehicle.full_title %></div>
        </div>
      </div>
      <p>
        <strong>AM:</strong> Morning Slot (00:00-11:59),<br>
        <strong>PM:</strong> Afternoon Slot (12:00-23:59),<br>
        <strong>FD:</strong> Full Day Slot (00:00-23:59)
      </p>
      <p>
      <div class="spectrum-ButtonGroup">
        <a href="https://adobe.sharepoint.com/sites/BaselWorkplaceCommittee/SitePages/New-Office-Parking-Help.aspx">
          <button class="spectrum-Button spectrum-Button--fill spectrum-Button--accent spectrum-Button--sizeL">
            <svg class="spectrum-Icon spectrum-Icon--sizeL" focusable="false" aria-hidden="true" aria-label="Edit">
              <use xlink:href="#spectrum-icon-18-Help"/>
            </svg>
            <span class="spectrum-Button-label">Help</span>
          </button>
        </a>
        <a href="https://adobe.sharepoint.com/sites/BaselWorkplaceCommittee/SitePages/New-Office-Parking-Policy.aspx">
          <button class="spectrum-Button spectrum-Button--fill spectrum-Button--accent spectrum-Button--sizeL">
            <svg class="spectrum-Icon spectrum-Icon--sizeL" focusable="false" aria-hidden="true" aria-label="Edit">
              <use xlink:href="#spectrum-icon-18-TextParagraph"/>
            </svg>
            <span class="spectrum-Button-label">Parking Policy</span>
          </button>
        </a>
      </div>
      </p>
      <div id="parking-spot-status" data-user="<%= @user.id %>" data-vehicle="<%= @vehicle.id %>">
        <%
          today_class = ' today'
          max_reservations_per_week = current_user.admin? ? 99 : ParkitService.RESERVATION_MAX_RESERVATIONS_PER_WEEK

          @parking_spots.each do |week, days|
            num_existing_reservations = Reservation.active_within_business_week(days.first[0], @user).count
        %>
          <div class="week"
               data-weeknumber="<%= week %>"
               data-used-budget="<%= num_existing_reservations %>"
               data-max-budget="<%= max_reservations_per_week %>"
          >
            <div class="week-header">
              <div class="title">Week <%= week %></div>
              <div class="budget">
                <%= num_existing_reservations %> of <%= max_reservations_per_week %>
                reservation(s) used.
              </div>
            </div>
            <%
              days.each do |date, parking_spots|
                week_day = date.strftime("%a")
            %>
              <div class="day <%= week_day.downcase %><%= today_class %>">
                <div class="date" data-date="<%= date %>">
                  <h2><%= week_day %><br><%= date.strftime('%d.%m.') %></h2>
                </div>
                <div class="slot-options">
                  <div class="morning disabled">
                    <h3>AM</h3>
                  </div>
                  <div class="afternoon disabled">
                    <h3>PM</h3>
                  </div>
                  <div class="full-day disabled">
                    <h3>FD</h3>
                  </div>
                </div>
                <div class="parking-spots">
                  <%
                    parking_spots.each do |parking_spot|
                      css_class = 'available'
                      reservations = parking_spot.reservations.active.where(date: date)

                      if parking_spot.unavailable?
                        css_class = 'unavailable'
                      elsif reservations.count == 1 && reservations.first.half_day?
                        css_class += " #{reservations.first.am? ? 'pm' : 'am'}"
                      elsif reservations.count > 0
                        css_class = 'fully-booked'
                      else
                        css_class += ' full-day'
                      end

                      if reservations.where(user_id: @user.id).count > 0
                        css_class += ' self'
                      end
                  %>
                    <div class="parking-spot <%= css_class %> disabled" data-id="<%= parking_spot.id %>">
                      <h3><%= parking_spot.number %></h3>
                    </div>
                  <% end %>
                </div>
              </div>
            <%
              today_class = ''
              end
            %>
          </div>
        <% end %>
        <div class="spectrum-Modal spectrum-Tray spectrum-Tray">
          <section class="spectrum-Dialog spectrum-Dialog--large" role="dialog" tabindex="-1" aria-modal="true">
            <div class="spectrum-Dialog-grid">
              <h1 class="spectrum-Dialog-heading spectrum-Dialog-heading--noHeader">Remaining Budget</h1>
              <hr class="spectrum-Divider spectrum-Divider--sizeM spectrum-Divider--horizontal spectrum-Dialog-divider">
              <section class="spectrum-Dialog-content"></section>
            </div>
          </section>
        </div>
      </div>
      <%= form_tag user_vehicle_reservations_path, method: :post, id: 'reservation-form' do |f| %>
        <button
          id="submit-reservations"
          class="spectrum-Button spectrum-Button--fill spectrum-Button--accent spectrum-Button--sizeL">
          <span class="spectrum-Button-label">Reserve</span>
        </button>
      <% end %>
    </div>
  </div>
</section>
