<%
  content_for :title, "Parking Spot #{@parking_spot.number}"
%>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <header class="spectrum-CSSComponent-sectionHeading" id="details">
      <h2 class="spectrum-Heading spectrum-Heading--sizeM">
        <a class="spectrum-BigSubtleLink" href="#details">Details</a>
      </h2>
      <hr class="spectrum-Divider spectrum-Divider--large">
    </header>
    <ul>
      <li>Number: <%= @parking_spot.number %></li>
      <li>Charger: <%= @parking_spot.charger_available %></li>
      <li>Unavailable: <%= @parking_spot.unavailable %></li>
      <li>Reason: <%= @parking_spot.unavailability_reason %></li>
    </ul>
  </div>
</section>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <%= link_to 'Edit',
                edit_parking_spot_path(@parking_spot.id),
                class: 'spectrum-Button spectrum-Button--fill spectrum-Button--accent spectrum-Button--sizeL'
    %>

    <%= link_to "Delete",
                parking_spot_path(@parking_spot.id),
                data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                class: 'spectrum-Button spectrum-Button--fill spectrum-Button--negative spectrum-Button--sizeL'
    %>
  </div>
</section>


<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <header class="spectrum-CSSComponent-sectionHeading" id="active-reservations">
      <h2 class="spectrum-Heading spectrum-Heading--sizeM">
        <a class="spectrum-BigSubtleLink" href="#active-reservations">Active Reservations</a>
      </h2>
      <hr class="spectrum-Divider spectrum-Divider--large">
    </header>
    <%= render 'reservations/reservations_table',
               reservations: @parking_spot.reservations.active_in_the_future,
               show_actions: true,
               show_user: true
    %>
  </div>
</section>

<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <header class="spectrum-CSSComponent-sectionHeading" id="past-reservations">
      <h2 class="spectrum-Heading spectrum-Heading--sizeM">
        <a class="spectrum-BigSubtleLink" href="#past-reservations">Past Reservations</a>
      </h2>
      <hr class="spectrum-Divider spectrum-Divider--large">
    </header>
    <%= render 'reservations/reservations_table',
               reservations: @parking_spot.reservations.active_in_the_past,
               show_user: true
    %>
  </div>
</section>

<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <header class="spectrum-CSSComponent-sectionHeading" id="cancelled-reservations">
      <h2 class="spectrum-Heading spectrum-Heading--sizeM">
        <a class="spectrum-BigSubtleLink" href="#cancelled-reservations">Cancelled Reservations</a>
      </h2>
      <hr class="spectrum-Divider spectrum-Divider--large">
    </header>
    <%= render 'reservations/reservations_table',
               reservations: @parking_spot.reservations.cancelled,
               show_user: true,
               show_price: false
    %>
  </div>
</section>
