<%= form_for [@user, @vehicle], html: { class: 'spectrum-Form' }, data: { turbo: false } do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@vehicle.errors.count, 'error') %> prohibited
        this vehicle from being added:</h3>
      <ul>
        <% @vehicle.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="spectrum-Form-item">
    <%= f.label :license_plate_number,
                "License Plate Number *",
                class: 'spectrum-FieldLabel spectrum-FieldLabel--sizeL spectrum-Form-itemLabel spectrum-FieldLabel--left'
    %>
    <div class="spectrum-Form-itemField">
      <div class="spectrum-Textfield">
        <%= f.text_field :license_plate_number,
                         autofocus: true,
                         required: true,
                         placeholder: 'BS 1234',
                         class: 'spectrum-Textfield-input'
        %>
      </div>
    </div>
  </div>

  <div class="spectrum-Form-item">
    <%= f.label :make,
                "Make *",
                class: 'spectrum-FieldLabel spectrum-FieldLabel--sizeL spectrum-Form-itemLabel spectrum-FieldLabel--left'
    %>
    <div class="spectrum-Form-itemField">
      <div class="spectrum-Textfield">
        <%= f.text_field :make,
                         required: true,
                         placeholder: 'Toyota',
                         class: 'spectrum-Textfield-input'
        %>
      </div>
    </div>
  </div>

  <div class="spectrum-Form-item">
    <%= f.label :model,
                "Model *",
                class: 'spectrum-FieldLabel spectrum-FieldLabel--sizeL spectrum-Form-itemLabel spectrum-FieldLabel--left'
    %>
    <div class="spectrum-Form-itemField">
      <div class="spectrum-Textfield">
        <%= f.text_field :model,
                         required: true,
                         placeholder: 'Camry',
                         class: 'spectrum-Textfield-input'
        %>
      </div>
    </div>
  </div>

  <div class="spectrum-Form-item">
    <%= f.label :vehicle_type,
                "Vehicle Type *",
                class: 'spectrum-FieldLabel spectrum-FieldLabel--sizeL spectrum-Form-itemLabel spectrum-FieldLabel--left' %>
    <div class="spectrum-Form-itemField">
      <%= f.select :vehicle_type, Vehicle.vehicle_types.keys.map { |type| [type.titleize, type] }, {}, class: 'spectrum-Textfield-input' %>
    </div>
  </div>

  <p>
    <%= f.submit "Save", class: 'spectrum-Button spectrum-Button--fill spectrum-Button--accent spectrum-Button--sizeL' %>
  </p>
<% end %>
