<%
  content_for :title, 'My Vehicles'
%>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <p>
      <%= link_to 'Add Vehicle',
                  new_user_vehicle_path(@user.id),
                  class: 'spectrum-Button spectrum-Button--fill spectrum-Button--accent spectrum-Button--sizeL'
      %>
    </p>
    <p>
      List of vehicles you own.
    </p>
    <table class="spectrum-Table spectrum-Table--sizeM">
      <thead class="spectrum-Table-head">
      <tr>
        <th class="spectrum-Table-headCell">License Plate</th>
        <th class="spectrum-Table-headCell">Make</th>
        <th class="spectrum-Table-headCell">Model</th>
        <th class="spectrum-Table-headCell">Actions</th>
      </tr>
      </thead>
      <tbody class="spectrum-Table-body">
      <% @vehicles.each do |vehicle| %>
        <tr class="spectrum-Table-row">
          <td class="spectrum-Table-cell"><%= link_to vehicle.license_plate_number, user_vehicle_path(vehicle.user.id, vehicle.id), class: 'spectrum-Link' %></td>
          <td class="spectrum-Table-cell"><%= vehicle.make %></td>
          <td class="spectrum-Table-cell"><%= vehicle.model %></td>
          <td class="spectrum-Table-cell">
            <div class="spectrum-ButtonGroup">
              <%= link_to 'Edit',
                          edit_user_vehicle_path(@user.id, vehicle.id),
                          class: 'spectrum-Button spectrum-Button--fill spectrum-Button--accent spectrum-Button--sizeS'
              %>
              <%= button_to 'Delete',
                            user_vehicle_path(@user.id, vehicle.id),
                            disabled: vehicle.reservations.any?,
                            title: 'Vehicle can only be deleted if there is no reservations associated',
                            method: :delete,
                            form: { data: { turbo_confirm: 'Are you sure?' } },
                            class: 'spectrum-Button spectrum-Button--fill spectrum-Button--negative spectrum-Button--sizeS'
              %>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
