<%
  content_for :title, @vehicle.license_plate_number
%>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <h2>Details</h2>
    <ul>
      <li>Owner: <%= link_to @vehicle.user.full_name, user_path(@vehicle.user.id) %></li>
      <li>License Plate Number: <%= @vehicle.license_plate_number %></li>
      <li>Make: <%= @vehicle.make %></li>
      <li>Model: <%= @vehicle.model %></li>
    </ul>
  </div>
</section>
<section class="spectrum-CSSComponent-description">
  <div class="spectrum-Body spectrum-Body--sizeM">
    <%= link_to 'Edit',
                edit_vehicle_path(@vehicle.id),
                class: 'spectrum-Button spectrum-Button--fill spectrum-Button--accent spectrum-Button--sizeL'
    %>

    <%= link_to "Delete",
                vehicle_path(@vehicle.id),
                data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' },
                class: 'spectrum-Button spectrum-Button--fill spectrum-Button--negative spectrum-Button--sizeL'
    %>
  </div>
</section>
